<!-- Task Modal -->
<div class="task-modal">
    <div class="modal-content">
        <button id="close" (click)="close.emit()">X</button>
        <p id="categoryColor" [style.backgroundColor]="task.categoryColor">
            {{ getCategoryColor(task.category)}}
        </p>
        <h3>{{ task.title }}</h3>
        <p>{{ task.description }}</p>
        <p>Due Date: {{ task.dueDate }}</p>
        <p>Priority: {{ task.priority }}</p>
        <p>Assigned To:</p>
        <br />
        <div class="task-modal">
            <div class="modal-content">
                <button id="close" (click)="close.emit()">X</button>
                <p id="categoryColor" [style.background-color]="task.categoryColor">
                    {{ task.category }}
                </p>
                <h3>{{ task.title }}</h3>
                <p>{{ task.description }}</p>
                <p>Due Date: {{ task.dueDate }}</p>
                <p>Priority: {{ task.priority }}</p>
                <p>Assigned To:</p>
                <br>


                <div class="task-modal-buttons">

                    <button>Delete</button>
                    <button>Edit</button>
                </div>
            </div>
        </div>