<div class="main-container">
  <div class="signUp-container">
    Not a Join user?
    <button class="signUp" type="button" routerLink="/sign-up">Sign up</button>
  </div>

  <div class="login-container">
    <div class="headline">
      <h1>Log in</h1>
      <div class="divider"></div>
    </div>

    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div class="input-container">
        <div class="input-field-wrapper">
          <input
            type="text"
            placeholder="Email"
            name="name"
            [(ngModel)]="name"
            required
            #nameRef="ngModel"
            class="email-input"
            [ngClass]="{
              invalid: nameRef.invalid && (nameRef.touched || loginForm.submitted)
            }"
          />
          <div class="field-error-placeholder">
            <div 
              class="field-error-message" 
              [class.visible]="nameRef.errors?.['required'] && (nameRef.touched || loginForm.submitted)"
            >
              Name is required
            </div>
          </div>
        </div>

        <div class="input-field-wrapper">
          <input
            type="password"
            placeholder="Password"
            name="password"
            [(ngModel)]="password"
            required
            #passwordRef="ngModel"
            class="password-input"
            [ngClass]="{
              invalid: passwordRef.invalid && (passwordRef.touched || loginForm.submitted)
            }"
          />
          <div class="field-error-placeholder">
            <div 
              class="field-error-message" 
              [class.visible]="passwordRef.errors?.['required'] && (passwordRef.touched || loginForm.submitted)"
            >
              Password is required
            </div>
          </div>
        </div>
      </div>

      <!-- Platzhalter für allgemeine Fehlermeldungen -->
      <div class="error-placeholder">
        <div class="error-message" [class.visible]="errorMessage">
          {{ errorMessage }}
        </div>
      </div>

      <div class="button-container">
        <button class="logIn" type="submit">Log in</button>
        <button class="guest" type="button" routerLink="/summary">
          Guest Log in
        </button>
      </div>
    </form>
  </div>

    <div class="signUp-container-mobile">
    Not a Join user?
    <button class="signUp" type="button" routerLink="/sign-up">Sign up</button>
  </div>

  <div class="bottom-container">
    <a routerLink="/privacy-policy">Privacy Policy</a>
    <a routerLink="/legal-notice">Legal notice</a>
  </div>
</div>