<div class="main-container">
  <div class="logo-container">
    <img src="public/img/mobile-logo.svg" alt="Logo" />
  </div>

  <div class="login-container">
    <div class="headline">
      <h1>Log in</h1>
      <div class="divider"></div>
    </div>

    <form (ngSubmit)="login()" #signupForm="ngForm">
    <div class="input-container"> 
  <input
    type="email"
    placeholder="Email"
    name="email"
    [(ngModel)]="email"
    required
    class="email-input"
  />
  <input
    type="password"
    placeholder="Password"
    name="password"
    [(ngModel)]="password"
    required
    class="password-input"
  />
</div>


      <div class="button-container">
        <button class="logIn" type="submit" [disabled]="!signupForm.form.valid">
          Log in
        </button>
        <button class="guest" type="submit" [disabled]="!signupForm.form.valid">
          Guest Log in
        </button>
      </div>
    </form>
  </div>
</div>
