@media (max-width: 1280px) {
    .info-header {
        margin-left: 50px;
    }

    .info-content {
        margin-left: 50px;
    }
}

@media (max-width: 1180px) {
    .info-header {
        margin-left: 70px;
    }

    .info-content {
        margin-left: 70px;
    }
}

@media (max-width: 1120px) {
    .info-header {
        margin-left: 110px;
    }

    .info-content {
        margin-left: 110px;
    }
}

@media (max-width: 1120px) {
    .info-header {
        margin-left: 150px;
    }

    .info-content {
        margin-left: 150px;
    }
}

@media (max-width: 960px) {
    .info-header {
        margin-left: 200px;
    }

    .info-content {
        margin-left: 200px;
    }
}

@media (max-width: 860px) {
    .info-header {
        margin-left: 250px;
    }

    .info-content {
        margin-left: 250px;
    }
}