@media (max-width: 1280px) {
    .info-header {
        margin-left: 20px;
    }

    .info-content {
        margin-left: 20px;
    }
}


@media (max-width: 1180px) {
    .info-header {
        margin-left: 50px;
    }

    .info-content {
        margin-left: 50px;
    }
}

@media (max-width: 960px) {
    .info-header {
        margin-left: 20px;
    }

    .info-content {
        margin-left: 20px;
    }
}

@media (max-width: 768px) {
    .info-header {
        margin-left: 0;
    }

    .info-content {
        margin-left: 0;
    }
}