@media (max-width: 1360px) {

    #right-content {
        display: none;
    }

    #content-wrapper {
        justify-content: center;
        max-width: 80vw;
        margin-left: 10px;
        overflow-y: visible;

    }

    #left-content {
        width: 90%;
    }
}


@media (max-width: 940px) {

    #headline-wrapper {
        flex-direction: column;
        gap: 0;
        align-items: start;
        margin-left: 5px;
    }


    #divider-vertical {
        display: none;
    }

    #line {
        display: block;
        margin-top: -5px;
    }

    .divider-horizontal {
        width: 130px !important;
        height: auto;
    }

}

@media (max-width: 768px) {

    #summary-wrapper {
        width: 100vw;
        height: calc(100vh - 170px);
        overflow-y: hidden;
    }

    #content-wrapper {
        max-width: 95vw;
    }

    #headline-wrapper {
        margin-top: 0;
        padding-top: 20px;
        margin-left: 20px;
    }

}

@media (max-width: 500px) {
    #headline-wrapper {
        margin-left: 0;
        margin-top: 10px;
        gap: 8px;
    }

    h3 {
        font-size: 36px;
    }

    h4 {
        font-size: 18px;
    }

    .task-number {
        font-size: 32px;
    }

    .divider-horizontal {
        width: 80px !important;
    }
}