@media (max-width: 1280px) {

    .privacy-header {
        margin-left: 50px;
    }

    .privacy-content {
        margin-left: 50px;
    }
}

@media (max-width: 1180px) {

    .privacy-header {
        margin-left: 100px;
    }

    .privacy-content {
        margin-left: 100px;
    }
}

@media (max-width: 1070px) {

    .privacy-header {
        margin-left: 150px;
    }

    .privacy-content {
        margin-left: 150px;
    }
}

@media (max-width: 970px) {

    .privacy-header {
        margin-left: 200px;
    }

    .privacy-content {
        margin-left: 200px;
    }
}

@media (max-width: 870px) {

    .privacy-header {
        margin-left: 250px;
    }

    .privacy-content {
        margin-left: 250px;
    }
}