#header {
  width: 100%;
  height: 96px;
  background-color: white;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.1);
  position: sticky;
}

#header_content {
  max-width: 1690px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 1.5rem;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.1);
}

#info:hover {
  transition: transform ease 200ms;
  transform: scale(1.2);
}

.headline {
  font-size: 20px;
  color: #000000;
  margin-left: 40px;
  display: flex;
  justify-content: flex-start;
  margin-right: auto;
}

#header_left {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.mobile-header {
  display: none;
}

.user-icon {
  cursor: pointer;
  position: relative;
}

.hamburger-menu {
  position: absolute;
  top: 80px;
  right: -10px;
  background-color: #2a3647;
  border-radius: 20px 0 20px 20px;
  padding: 10px 0;
  min-width: 160px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.hamburger-menu-mobile {
  position: absolute;
  top: 80px;
  right: 20px;
  background-color: #2a3647;
  border-radius: 20px 0 20px 20px;
  padding: 10px 0;
  min-width: 150px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.hamburger-menu a,
.hamburger-menu-mobile a {
  display: block;
  padding: 15px 15px;
  color: white;
  margin-left: 5px;
  text-decoration: none;
}

.hamburger-menu a:hover,
.hamburger-menu-mobile a:hover {
  background: #455974;
  width: 150px;
  height: 50px;
}

@media (max-width: 1500px) {
  .headline {
    margin-left: 40px;
  }
}

@media (max-width: 870px) {
  #header {
    padding: 0 0.7rem;
  }
}

@media (max-width: 768px) {
  .desktop-header {
    display: none;
  }

  .hamburger-menu-mobile {
    margin-left: 20px;
  }

  .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 1.5rem;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    position: relative;
    z-index: 50;
  }

  .mobile-logo {
    height: 40px;
  }
}