p {
  font-weight: 700;
  font-size: 51px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background: white;
  width: 60vw;
  height: 60vh;
  border-radius: 24px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 0;
  overflow: hidden;
}

.content-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.left-panel {
  flex: 3;
  background-color: #091931;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-panel {
  flex: 7;
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
}

img {
  width: 60px;
  height: auto;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
}

.img-wrapper {
  width: 100%;
  height: 100px;
  margin-left: 40px;
  margin-bottom: 28px;
  display: flex;
  justify-content: flex-start;
}

.line {
  width: 100px;
  height: 6px;
  margin-top: 16px;
  margin-left: 16px;
  background-color: #29abe2;
}

.line-wrapper {
  width: 100%;
  height: 6px;
  display: flex;
  justify-content: flex-start;
}

.input-wrapper {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: row;
}

.left-site {
  width: 500px;
  height: 700px;
}

.right-site {
  width: 100%;
  height: 700px;
}

.right-site-top {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.right-site-bottom {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row;
}

.button-left,
.button-right {
  height: 50px;
  width: auto;
  margin-right: 20px;
  margin-top: 30px;
}
.input {
  height: 40px;
  width: 80%;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 10px 40px 10px 10px; /* Platz rechts für Icon */
  font-size: 20px;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
}

/* Individuelle Icons */
.input-name {
  background-image: url('/img/person.svg');
}

.input-email {
  background-image: url('/img/mail.svg');
}

.input-phone {
  background-image: url('/img/call.svg');
}

/* Optional: Icon ausblenden, wenn Text eingegeben wird */
.input:not(:placeholder-shown) {
  background-image: none;
}
