@media (max-width: 1180px) {
    p {
        font-weight: 700;
        font-size: 46px;
    }

    .modal-content {
        width: 1000px;
    }

    .left-panel {
        width: 330px;
    }

    .right-panel {
        width: 670px;
    }

    img {
        width: 59px;
        height: auto;
    }

    .img-wrapper {
        margin-left: 44px;
        margin-bottom: 28px;
    }

    .line {
        margin-left: 18px;
    }

    .line-wrapper {
        height: 6px;
        display: flex;
        justify-content: flex-start;
    }
}

@media (max-width: 1050px) {
    p {
        font-weight: 700;
        font-size: 43px;
    }

    .modal-content {
        width: 900px;
    }

    .left-panel {
        width: 300px;
    }

    .right-panel {
        width: 600px;
    }

    img {
        width: 59px;
        height: auto;
    }

    .img-wrapper {
        height: 100px;
        margin-left: 26px;
        margin-bottom: 28px;
    }

    .line {
        margin-left: 12px;
    }

    .line-wrapper {
        height: 6px;
        display: flex;
        justify-content: flex-start;
    }

    .input-wrapper {
        height: 650px;
    }

    .left-site {
        width: 300px;
        height: 650px;
    }

    .right-site {
        width: 100%;
        height: 650px;
    }

    .avatar-placeholder img {
        margin-left: 28px;
    }
}

@media (max-width: 950px) {
    p {
        font-weight: 700;
        font-size: 35px;
    }

    .modal-content {
        background: white;
        width: 800px;
        height: 55vh;
    }

    .left-panel {
        width: 300px;
    }

    .right-panel {
        width: 600px;
    }

    img {
        width: 54px;
        height: auto;
    }

    .img-wrapper {
        width: 100%;
        height: 100px;
        margin-left: 26px;
        margin-bottom: 28px;
    }

    .line {
        margin-left: 6px;
    }

    .line-wrapper {
        width: 100%;
        height: 6px;
        display: flex;
        justify-content: flex-start;
    }

    .input-wrapper {
        width: 100%;
        height: 650px;
    }

    .left-site {
        width: 300px;
        height: 650px;
    }

    .right-site {
        width: 100%;
        height: 650px;
    }

    .avatar-placeholder img {
        margin-left: 28px;
    }
}

@media (max-width: 850px) {
    p {
        font-size: 32px;
    }

    .modal-content {
        background: white;
        width: 720px;
        height: 52vh;
    }

    .left-panel {
        width: 220px;
    }

    .right-panel {
        width: 500px;
    }

    img {
        width: 50px;
        height: auto;
    }

    .img-wrapper {
        width: 100%;
        height: 100px;
        margin-left: 18px;
        margin-bottom: 18px;
    }

    .line {
        margin-left: 2px;
    }

    .line-wrapper {
        width: 100%;
        height: 6px;
    }

    .input-wrapper {
        width: 100%;
    }

    .left-site {
        width: 300px;
    }

    .right-site {
        width: 100%;
    }

    .avatar-placeholder img {
        width: 123px;
        height: 130px;
        margin-left: 28px;
    }
}

@media (max-width: 768px) {
    p {
        font-size: 52px;
    }

    .error-text {
        margin-left: 5px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 0px;
    }

    .modal-content {
        height: 82vh;
        width: 500px;
    }

    .img-wrapper {
        display: none;
    }

    .left-panel {
        height: 300px;
        width: 100%;
    }

    .right-panel {
        height: 450px;
        width: 100%;
    }

    .content-container {
        display: flex;
        flex-direction: column;
    }

    .input-wrapper {
        width: 100%;
        height: 450px;
        display: flex;
        flex-direction: column;
    }

    .avatar-preview {
        display: flex;
        justify-content: center;
        margin: 20px 0;
        background-color: #29abe2;
    }

    .avatar-placeholder img,
    .avatar {
        width: 100%;
        height: 140px;
        position: absolute;
        left: -4.5%;
        transform: translateX(-100%);
        transform: translateY(-170%);
    }

    .avatar {
        border: 3px solid white;
    }

    .right-site-top {
        width: 100%;
        height: 360px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 0px;
        margin-left: 9px;
    }

    .right-site-bottom {
        width: 100%;
        height: 350px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .avatar-placeholder img {
        position: absolute;
        left: -5.5%;
        transform: translateX(-100%);
        transform: translateY(-180%);
        width: 100%;
        height: 130px;
    }

    .avatar {
        position: absolute;
        left: 40%;
        transform: translateX(-50%);
        transform: translateY(-200%);
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 670px) {
    .avatar {
        left: 38.5%;
        transform: translateX(-50%);
        transform: translateY(-200%);
    }
}

@media (max-width: 620px) {
    .avatar {
        left: 39.2%;
        transform: translateX(-50%);
        transform: translateY(-200%);
    }
}

@media (max-width: 570px) {
    .avatar {
        left: 39%;
        transform: translateX(-50%);
        transform: translateY(-200%);
    }
}

@media (max-width: 550px) {
    p {
        font-size: 52px;
    }

    .modal-content {
        height: 82vh;
        width: 400px;
    }
}

@media (max-width: 530px) {
    .avatar {
        left: 38.5%;
        transform: translateX(-50%);
        transform: translateY(-200%);
    }
}

@media (max-width: 530px) {
    .avatar {
        left: 38.5%;
        transform: translateX(-50%);
        transform: translateY(-200%);
    }
}

@media (max-width: 505px) {
    .avatar {
        left: 38.2%;
        transform: translateX(-50%);
        transform: translateY(-200%);
    }
}