p {
  font-weight: 700;
  font-size: 51px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background: white;
  width: 1100px;
  height: 60vh;
  border-radius: 24px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 0;
  overflow: hidden;
}

.content-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.left-panel {
  width: 400px;
  background-color: #091931;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-panel {
  width: 700px;
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
}

img {
  width: 60px;
  height: auto;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
}

.img-wrapper {
  width: 100%;
  height: 100px;
  margin-left: 65px;
  margin-bottom: 28px;
  display: flex;
  justify-content: flex-start;
}

.line {
  width: 100px;
  height: 6px;
  margin-top: 16px;
  margin-left: 34px;
  background-color: #29abe2;
}

.line-wrapper {
  width: 100%;
  height: 6px;
  display: flex;
  justify-content: flex-start;
}

.input-wrapper {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: row;
}

.left-site {
  width: 400px;
  height: 700px;
}

.right-site {
  width: 100%;
  height: 700px;
}

.right-site-top {
  margin-top: 138px;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.right-site-bottom {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row;
}

.button-left,
.button-right {
  height: 50px;
  width: auto;
  margin-right: 20px;
  margin-top: 30px;
}
.input {
  height: 40px;
  width: 95%;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 10px 40px 10px 10px;
  font-size: 20px;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
  background-color: none;
}

.input-name {
  background-image: url("/img/person.svg");
}

.input-email {
  background-image: url("/img/mail.svg");
}

.input-phone {
  background-image: url("/img/call.svg");
}

.input:not(:placeholder-shown) {
  background-image: none;
}

.input.ng-invalid.ng-touched {
  border: 2px solid red;
}

.error-text {
  color: red;
  font-size: 14px;
  margin-top: -15px;
  margin-bottom: 10px;
}

.save-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.input {
  background-color: white;
  border: 1px solid #d1d1d1;
  outline: none;

  &:focus {
    border-color: #29abe2;
    box-shadow: 0 0 3px rgba(41, 171, 226, 0.5);
  }

  &.ng-invalid.ng-touched {
    border-color: red;
  }

  &:invalid,
  &:valid {
    background-color: white;
  }
}

.button-left {
  height: 50px;
  width: auto;
  margin-right: 20px;
  margin-top: 30px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    filter: brightness(0) saturate(100%) invert(31%) sepia(90%) saturate(3341%)
      hue-rotate(178deg) brightness(93%) contrast(91%);
  }
}

.save-button {
  margin-top: 24px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.save-button:hover .button-background {
  fill: #007bff;
}

.save-button .button-text,
.save-button .button-checkmark {
  fill: white;
}

.avatar-placeholder img {
  width: 140px;
  height: 140px;
  object-fit: contain;
  margin-top: 150px;
  margin-left: 58px;
}

.avatar-preview {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-weight: 400;
  margin-top: 140px;
}

@media (max-width: 1180px) {
  p {
    font-weight: 700;
    font-size: 46px;
  }

  .modal-content {
    width: 1000px;
  }

  .left-panel {
    width: 330px;
  }

  .right-panel {
    width: 670px;
  }

  img {
    width: 59px;
    height: auto;
  }

  .img-wrapper {
    margin-left: 44px;
    margin-bottom: 28px;
  }

  .line {
    margin-left: 18px;
  }

  .line-wrapper {
    height: 6px;
    display: flex;
    justify-content: flex-start;
  }
}

@media (max-width: 1050px) {
  p {
    font-weight: 700;
    font-size: 43px;
  }

  .modal-content {
    width: 900px;
  }

  .left-panel {
    width: 300px;
  }

  .right-panel {
    width: 600px;
  }

  img {
    width: 59px;
    height: auto;
  }

  .img-wrapper {
    height: 100px;
    margin-left: 26px;
    margin-bottom: 28px;
  }

  .line {
    margin-left: 12px;
  }

  .line-wrapper {
    height: 6px;
    display: flex;
    justify-content: flex-start;
  }

  .input-wrapper {
    height: 650px;
  }

  .left-site {
    width: 300px;
    height: 650px;
  }

  .right-site {
    width: 100%;
    height: 650px;
  }

  .avatar-placeholder img {
    margin-left: 28px;
  }
}

@media (max-width: 950px) {
  p {
    font-weight: 700;
    font-size: 35px;
  }

  .modal-content {
    background: white;
    width: 800px;
    height: 55vh;
  }

  .left-panel {
    width: 300px;
  }

  .right-panel {
    width: 600px;
  }

  img {
    width: 54px;
    height: auto;
  }

  .img-wrapper {
    width: 100%;
    height: 100px;
    margin-left: 26px;
    margin-bottom: 28px;
  }

  .line {
    margin-left: 6px;
  }

  .line-wrapper {
    width: 100%;
    height: 6px;
    display: flex;
    justify-content: flex-start;
  }

  .input-wrapper {
    width: 100%;
    height: 650px;
  }

  .left-site {
    width: 300px;
    height: 650px;
  }

  .right-site {
    width: 100%;
    height: 650px;
  }

  .avatar-placeholder img {
    margin-left: 28px;
  }
}

@media (max-width: 850px) {
  p {
    font-size: 32px;
  }

  .modal-content {
    background: white;
    width: 720px;
    height: 52vh;
  }

  .left-panel {
    width: 220px;
  }

  .right-panel {
    width: 500px;
  }

  img {
    width: 50px;
    height: auto;
  }

  .img-wrapper {
    width: 100%;
    height: 100px;
    margin-left: 18px;
    margin-bottom: 18px;
  }

  .line {
    margin-left: 2px;
  }

  .line-wrapper {
    width: 100%;
    height: 6px;
  }

  .input-wrapper {
    width: 100%;
  }

  .left-site {
    width: 300px;
  }

  .right-site {
    width: 100%;
  }

  .avatar-placeholder img {
    width: 123px;
    height: 130px;
    margin-left: 28px;
  }
}

@media (max-width: 768px) {

  img {
    display: none;
  }








  .line {
    margin-left: 2px;
  }



  p {
    font-size: 52px;
  }

.modal-content {
    height: 82vh;
    width: 500px;
    border-radius: 24px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 0;
    overflow: hidden;
  }

  .input-wrapper {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
  }

  .content-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

 .left-panel {
    width: 100%;
  }

  .right-panel {
    width: 100%;
  }

}
