.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background: white;
  width: 60vw;
  height: 60vh; /* Feste Höhe */
  border-radius: 24px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 0; /* Wichtig: Padding entfernt */
  overflow: hidden; /* Verhindert Scrollbars */
}

.content-container {
  display: flex;
  height: 100%; /* Nimmt 100% der Modal-Höhe */
  width: 100%;
}

.left-panel {
  flex: 3;
  background-color: #091931;
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
}

.right-panel {
  flex: 7;
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
}

img {
  width: 60px;
  height: auto;
}

