@media (max-width: 1340px) {



    h3 {
        font-size: 56px;
    }

    .slogan {
        font-size: 22px;
    }


}

@media (max-width: 1270px) {



    h3 {
        margin-left: -70px;
    }




}

@media (max-width: 1200px) {



    h2 {
        font-size: 34px;
    }

    .slogan {
        display: none;
    }

    .separation {
        display: none;
    }


}