<div class="contact-layout">
  <!-- Linke Spalte: Kontaktliste -->
  <app-contact-list
    (contactSelected)="selectContact($event)"
  ></app-contact-list>

  <!-- Rechte Spalte: Side Panel -->
  <div class="side-panel">
    <div class="text-wrapper">
      <h3>Contacts</h3>
      <p class="separation">|</p>
      <p class="slogan">Better with a team</p>
    </div>

    <!-- Detail-Slide -->
    <div class="detail-slide" *ngIf="selectedContact" [@slideIn]>
      <div class="detail-header">
        <!-- Avatar -->
        <div
          class="avatar"
          [ngStyle]="{
            'background-color': getAvatarColor(selectedContact.name)
          }"
        >
          {{ getInitials(selectedContact.name) }}
        </div>

        <!-- Name + Buttons (vertikal) -->
        <div class="name-and-actions">
          <h2>{{ selectedContact.name }}</h2>

          <!-- Edit/Delete Buttons (horizontal) -->
          <div class="action-buttons">
            <div class="action">
              <img src="./img/edit.svg" alt="Edit Icon" />
              <span>Edit</span>
            </div>
            <div class="action">
              <img src="./img/delete.svg" alt="Delete Icon" />
              <span>Delete</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Kontaktdetails -->
      <span>Contact Information</span>
      <br />
      <br />
      <span>Email:</span>

      <p>{{ selectedContact.email }}</p>
      <br />
      <br />

      <span>Telefon:</span>

      <p>{{ selectedContact.phone }}</p>
    </div>
  </div>
</div>
