h2 {
  font-weight: 500;
  font-size: 40px;
  margin: 0;
}

h3 {
  font-weight: 700;
  font-size: 63px;
  margin: 0;
}

.headline {
  font-size: 20px;
  margin-top: 50px;
}

.contact-layout {
  height: calc(100vh - 96px);
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden !important;
}

.side-panel {
  width: 100%;
  position: relative;
  background: #f5f5f5;
  padding: 16px;
  box-shadow: inset 6px 0 6px -4px rgba(0, 0, 0, 0.2),
    inset 0 6px 6px -4px rgba(0, 0, 0, 0.2);
  height: calc(100vh - 96px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.detail-slide {
  position: absolute;
  top: 200px;
  right: 0;
  width: 90%;
  padding: 16px;
}

.text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  margin-top: 50px;
  margin-left: 100px;
}

.text-wrapper2 {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  margin-top: 66px;
  margin-left: 516px;
}

.separation2 {
  height: 50px;
  /* Dicke der Linie */
  width: 4px;
  /* Länge der Linie */
  background-color: #29abe2;
  /* Ihre blaue Farbe */
  border-radius: 10px;
  /* Das macht die Ecken rund! */
  margin-left: 30px;
  /* Abstand links */
  margin-right: 30px;
  /* Abstand rechts */
}

/* Die alte Klasse wird nicht mehr gebraucht, wir können sie verstecken */
.separation {
  display: none;
}

.slogan3 {
  margin-top: 10px;
  font-size: 27px;
}

.detail-header {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 16px;
}

.detail-slide .avatar {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 34px;
  font-weight: 400;
  border: 4px solid white;
  box-sizing: border-box;
  margin-right: 30px;
}

.name-and-actions {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
  margin-top: 10px;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 8px;
  flex-wrap: nowrap;
}

.action {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  flex-shrink: 0;
}

.action img {
  width: 20px;
  height: 20px;
}

.action svg path {
  transition: fill 0.3s ease;
  fill: #2a3647;
}

.action span {
  transition: color 0.3s ease;
  color: #2a3647;
}

.action:hover svg path {
  fill: #007cee;
}

.action:hover span {
  color: #007cee;
}

.email-phone {
  font-size: 16;
  font-weight: 700;
  margin-bottom: 20px;
}

.email-text a {
  color: #007cee;
}

.email-text a:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

app-contact-list {
  flex-grow: 1;
  min-width: 400px;
}

.back-arrow {
  display: none;
}

#img-burger {
  display: none;
}

.burger-menu {
  display: none;
}