h3 {
  font-weight: 700;
  font-size: 63px;
}

.group-heading {
  margin-top: 17px;
  margin-bottom: 17px;
  margin-left: 36px;
  font-size: 20px;
  font-weight: bold;
}

.divider {
  height: 2px;
  background-color: #ccc;
  margin-bottom: 20px;
  border: none;
}

.contact-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 20px 0;
}

.contact-item:hover {

  background-color: #2a3647;
  color: white;
  border-radius: 10px;
  transition: transform 0.8s ease;
  margin-left: 10px;

}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 30px;
  margin-left: 24px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.email {
  margin-top: 5px;
  color: #007cee !important;
}

.contact-layout {
  display: flex;
  height: calc(100vh - 96px);
  padding: 24px;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: hidden;
}

.contact-wrapper {
  width: 400px;
  background-color: white;
  padding: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.side-panel {
  width: 600px;
  position: relative;
  background: #f5f5f5;
  padding: 16px;
  height: 100%;
  box-shadow: inset 6px 0 6px -4px rgba(0, 0, 0, 0.2),
    inset 0 6px 6px -4px rgba(0, 0, 0, 0.2);
}

.detail-slide {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background: white;
  padding: 16px;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
}

.separation {
  color: #007cee !important;
  font-weight: 900;
  font-size: 50px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 40px;
}

.slogan {
  font-size: 27px;
  margin-top: 32px;
}

.text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 50px;
}