<div
  class="contact-wrapper"
  *ngIf="groupedContactsEntries.length > 0; else loadingOrEmpty"
>

<button (click)="toggleOverlay()">Add new Contact +</button>

  <ng-container *ngFor="let group of groupedContactsEntries">
    <h2 class="group-heading">{{ group[0] }}</h2>
    <div class="divider"></div>

    <div
      *ngFor="let contact of group[1]"
      class="contact-item"
      (click)="onContactClick(contact)"
      style="cursor: pointer"
    >
      <div
        class="avatar"
        [ngStyle]="{ 'background-color': getAvatarColor(contact.name) }"
      >
        {{ getInitials(contact.name) }}
      </div>
      <div class="contact-info">
        <strong>{{ contact.name }}</strong>
        <small class="email">{{ contact.email }}</small>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #loadingOrEmpty>
  <ng-container *ngIf="loading; else notLoading">
    <div>Kontakte werden geladen...</div>
  </ng-container>
  <ng-template #notLoading>
    <div *ngIf="error; else noContacts">
      {{ error }}
    </div>
    <ng-template #noContacts>
      <div>Keine Kontakte vorhanden.</div>
    </ng-template>
  </ng-template>
</ng-template>


<app-modal [visible]="isActive" (closed)="toggleOverlay()"></app-modal>