<div class="contact-wrapper">
  <ng-container *ngFor="let group of groupedContacts | keyvalue">
    <h2 class="group-heading">{{ group.key }}</h2>
    <div class="divider"></div>

    <div
      *ngFor="let contact of group.value"
      class="contact-item"
      (click)="onContactClick(contact)"
      style="cursor: pointer;"
    >
      <div
        class="avatar"
        [ngStyle]="{ 'background-color': getAvatarColor(contact.name) }"
      >
        {{ getInitials(contact.name) }}
      </div>
      <div class="contact-info">
        <strong>{{ contact.name }}</strong>
        <small class="email">{{ contact.email }}</small>
      </div>
    </div>
  </ng-container>
</div>
