.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  position: relative;
  min-width: 300px;
  max-width: 1200px;
  width: 95%;
  border-radius: 30px;
  max-height: 800px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content app-add-task {
  display: block;
  transform: scale(0.9) translateY(-60px);
  padding-left: 75px;
  transform-origin: center;
}

button {
  position: relative;
  border: none;
  left: 97%;
  top: 2%;
}

button:hover {
  transform: scale(1.2) translateY(0px);
  transition: transform ease 0.2s;
  cursor: pointer;
}

#close {
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 93%;
  background: url("/img/close.svg") no-repeat center;
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
}


@media (max-width: 1200px) {
  .modal-content app-add-task {
    display: block;
    transform: scale(0.95) translateY(-50px);
    padding-left: 95px;
    transform-origin: center;
  }
}

@media (max-width: 1060px) {
  .modal-content app-add-task {
    display: block;
    transform: scale(1) translateY(-50px);
    padding-left: 95px;
    transform-origin: center;
  }
}

@media (max-width: 768px) {
  .modal-content app-add-task {
    display: block;
    transform: scale(1.0) translateY(30px);
    padding-left: 0px;
    transform-origin: center;
    height: 90vh;
  }

  #close {
    left: 90%;
  }
}