@media (max-width: 570px) {
    .avatar {
        left: 39%;
        transform: translateX(-50%);
        transform: translateY(-200%);
    }
}

@media (max-width: 550px) {
    p {
        font-size: 52px;
    }

    .modal-content {
        height: 82vh;
        width: 400px;
    }

    .avatar-placeholder img {
        width: 100%;
        height: 120px;
        left: -7%;
        transform: translateX(-100%);
        transform: translateY(-190%);
    }

    .avatar {
        width: 110px;
        height: 110px;
        left: 36%;
        transform: translateX(-50%);
        transform: translateY(-212%);
    }
}

@media (max-width: 505px) {
    .avatar-placeholder img {
        width: 100%;
        height: 115px;
        left: -7%;
        transform: translateX(-100%);
        transform: translateY(-196%);
    }

    .avatar {
        width: 100px;
        height: 100px;
        left: 37%;
        transform: translateX(-50%);
        transform: translateY(-227%);
    }
}

@media (max-width: 450px) {
    p {
        font-size: 48px;
    }

    .modal-content {
        height: 82vh;
        width: 350px;
    }

    .avatar-placeholder img {
        width: 100%;
        height: 115px;
        left: -7%;
        transform: translateX(-100%);
        transform: translateY(-196%);
    }

    .avatar {
        width: 100px;
        height: 100px;
        left: 37%;
        transform: translateX(-50%);
        transform: translateY(-227%);
    }
}

@media (max-width: 400px) {
    p {
        font-size: 45px;
    }

    .modal-content {
        height: 82vh;
        width: 330px;
    }
}

@media (max-width: 360px) {
    p {
        font-size: 43px;
    }

    .modal-content {
        height: 82vh;
        width: 300px;
    }
}

@media (max-height: 700px) {
    .modal-content {
        min-height: 95vh;
        overflow-y: hidden;
    }

    .wrapper {
        margin-top: 60px;
    }

    p {
        font-weight: 700;
        font-size: 43px;
    }

    .slogan {
        font-size: 20px;
        margin-left: 4px;
    }

    .input-wrapper {
        width: 100%;
        height: 420px;
    }


    .left-panel {
        height: 230px;
    }

    .right-panel {
        height: 390px;

    }

    img {
        width: 54px;
        height: auto;
    }

    .img-wrapper {
        width: 100%;
        height: 100px;
        margin-left: 8px;
        margin-bottom: 18px;
    }

    .line {
        margin-left: 3px;
    }

    .line-wrapper {
        width: 100%;
        height: 6px;
        display: flex;
        justify-content: flex-start;
    }


    .left-site {
        width: 300px;
        height: 650px;
    }

    .right-site {
        width: 100%;
        height: 650px;
    }

    .avatar-placeholder img {
        margin-left: 0px;
        margin-right: 16px;
    }

    .input-name,
    .input-email,
    .input-phone {
        width: 90%;
    }

    .wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 130px;
    }

    .avatar-placeholder img {
        width: 100%;
        height: 105px;
        left: -0%;
        transform: translateX(-100%);
        transform: translateY(-210%);
    }

    .avatar {
        width: 95px;
        height: 95px;
        left: 35.5%;
        transform: translateX(-50%);
        transform: translateY(-237%);
    }

}