@media (max-width: 1280px) {
    .legal-header {

        margin-left: 50px;
    }


}

@media (max-width: 1160px) {
    .legal-header {

        margin-left: 100px;
    }

    .legal-content {
        margin-left: 100px;
    }
}

@media (max-width: 1060px) {
    .legal-header {

        margin-left: 150px;
    }

    .legal-content {
        margin-left: 40px;
    }
}

@media (max-width: 960px) {
    .legal-header {

        margin-left: 200px;
    }

    .legal-content {
        margin-left: 90px;
    }
}

@media (max-width: 880px) {
    .legal-header {
        margin-left: 250px;
    }


}

@media (max-width: 768px) {
    .back-arrow {
        visibility: visible;
    }
}