h3 {
  font-size: 50px;
  padding-left: 100px;
  padding-top: 130px;
  padding-bottom: 40px;
}

.headline {
  padding-bottom: 5px;
  font-weight: 400;
}

.content-wrapper {
  display: flex;
  justify-items: row;
  gap: 40px;
}

.left-side {
  height: 400px;
  width: 500px;
  padding-left: 100px;
}

.left-side input {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  border-color: rgb(206, 203, 203);
}

.placeholder2 {
  height: 100px;
  border-radius: 8px;
}

.middle {
  height: 350px;
  width: 2px;
  border-radius: 8px;
  background-color: rgb(177, 177, 177);
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  height: 255px;
  width: 450px;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  height: 50px;
  width: 600px;
}

.placeholder4,
.placeholder5,
.placeholder6 {
  border-radius: 8px;
  height: 45px;
  width: 130px;
}

.placeholder7,
.placeholder8,
.placeholder9 {
  border-radius: 8px;
  height: 35px;
  width: 430px;
}

.placeholder5::placeholder {
  color: white;
  opacity: 1;
}

.placeholder5 {
  background-color: #ffa800;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 21px;
  font-weight: 600;
  text-align: center;
}

.placeholder7,
.placeholder8,
.placeholder9 {
  padding-left: 8px;
}

.placeholder7::placeholder,
.placeholder8::placeholder,
.placeholder9::placeholder {
  color: gray;
  opacity: 1;
}

.content-bottom {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}

.image-button-left,
.image-button-right {
  width: 119px;
  background: none;
  border: none;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-bottom: 4px solid #999;
  border-radius: 8px;
  padding: 0;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}

.image-button-middle {
  width: 119px;
  background: none;
  border: none;
  cursor: pointer;
}

.image-button-left:hover {
  box-shadow: 2px 6px 8px -2px rgba(0, 0, 0, 0.4);
}

.image-button-right:hover {
  box-shadow: 2px 6px 8px -2px rgba(0, 0, 0, 0.4);
}

.image-button-left svg {
  transform: translateX(-15px) translateY(-3px);
  height: 55px;
}

.image-button-middle svg {
  transform: translateX(-8.5px) translateY(-0px);
  height: 50px;
}

.image-button-right svg {
  transform: translateX(-5px) translateY(-3px);
  height: 55px;
}

.image-button-left {
  svg {
    path:not([fill="#FF3D00"]) {
      stroke: currentColor;
      stroke-width: 0.3px;
      paint-order: stroke;
    }

    // Für den aktiven Zustand
    &.active path:not([fill="white"]) {
      stroke: white;
    }
  }
}

.image-button-left {
  &.active svg {
    path {
      &[fill="white"] {
        stroke: white;
        stroke-width: 0.5px;
        paint-order: stroke;
        stroke-linejoin: round;
      }
    }
  }
}
