<div class="content">
  <div class="text-wrapper">
    <h3>Add Task</h3>
  </div>

  <div class="content-wrapper">
    <div class="left-side">
      <h4 class="headline">Title</h4>
      <input class="placeholder1" type="text" placeholder="Placeholder" />
      <h4 class="headline">Description</h4>
      <input class="placeholder2" type="text" placeholder="Placeholder 2" />
      <h4 class="headline">Due date</h4>
      <input class="placeholder3" type="text" placeholder="Placeholder 3" />
    </div>

    <div class="middle"></div>

    <div class="right-side">
      <div class="row1-wrapper">
        <h4 class="headline">Priority</h4>
        <div class="row1">
          <input class="placeholder4" type="text" placeholder="row 1" />
          <input class="placeholder5" type="text" placeholder="row 1" />
          <input class="placeholder6" type="text" placeholder="row 1" />
        </div>
      </div>

      <div class="row2">
        <h4 class="headline">Assigned to</h4>
        <input class="placeholder7" type="text" placeholder="row 2" />
      </div>

      <div class="row3">
        <h4 class="headline">Category</h4>
        <input class="placeholder9" type="text" placeholder="row 3" />
      </div>

      <div class="row4">
        <h4 class="headline">Subtasks</h4>
        <input class="placeholder9" type="text" placeholder="row 4" />
      </div>
    </div>
  </div>
</div>
