h3 {
  font-size: 50px;
  padding-left: 100px;
  padding-top: 130px;
  padding-bottom: 40px;
}

h4 {
  font-weight: 400;
  margin-bottom: 5px;
}

h5 {
  font-weight: 400;
  color: red;
  padding-left: 2px;
  font-size: 20px;
  padding-bottom: 5px;
}

.content-wrapper {
  display: flex;
  justify-items: row;
  gap: 40px;
}

.headline-wrapper {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  gap: 3px;
  margin-bottom: 5px;
}

.headline-wrapper h4 {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.headline-wrapper h5 {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}

.text-bottom {
  display: flex;
  flex-direction: row;
  padding-left: 100px;
  gap: 2px;
  line-height: 0;
}

.left-side {
  height: 400px;
  width: 460px;
  padding-left: 100px;
}

.left-side input {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  border-color: rgb(206, 203, 203);
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  height: 255px;
  width: 400px;
}

.placeholder2 {
  height: 100px;
  border-radius: 8px;
}

.middle {
  height: 350px;
  width: 2px;
  border-radius: 8px;
  background-color: rgb(177, 177, 177);
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
  height: 50px;
  width: 600px;
}

.placeholder4,
.placeholder5,
.placeholder6 {
  border-radius: 8px;
  height: 45px;
  width: 130px;
}

.placeholder7,
.placeholder8,
.placeholder9 {
  border-radius: 8px;
  height: 35px;
  width: 378px;
}

.placeholder5::placeholder {
  color: white;
  opacity: 1;
}

.placeholder7,
.placeholder8,
.placeholder9 {
  padding-left: 8px;
}

.placeholder7::placeholder,
.placeholder8::placeholder,
.placeholder9::placeholder {
  color: gray;
  opacity: 1;
}

.image-button-left,
.image-button-right {
  width: 119px;
  background: none;
  border: none;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-bottom: 4px solid #999;
  border-radius: 10px;
  padding: 0;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}

.image-button-middle {
  width: 114px;
  background-color: none;
  border: none;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-bottom: 4px solid #999;
  border-radius: 10px;
  padding: 0;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}

.image-button-left:hover {
  box-shadow: 2px 6px 8px -2px rgba(0, 0, 0, 0.4);
}

.image-button-middle.active:hover {
  box-shadow: 2px 6px 8px -2px rgba(0, 0, 0, 0.4);
}

.image-button-right:hover {
  box-shadow: 2px 6px 8px -2px rgba(0, 0, 0, 0.4);
}

.image-button-left svg {
  transform: translateX(-15px) translateY(-3px);
  height: 55px;
}

.image-button-middle svg {
  transform: translateX(-13px) translateY(2px);
  height: 46px;
}

.image-button-right svg {
  transform: translateX(-5px) translateY(-3px);
  height: 55px;
}

.image-button-left,
.image-button-right {
  &.active svg {
    path {
      &[fill="white"] {
        stroke: white;
        stroke-width: 0.5px;
        paint-order: stroke;
        stroke-linejoin: round;
      }
    }
  }
}

.image-button-middle {
  rect {
    fill: #ffa800;
  }

  path,
  g path {
    fill: white;
  }

  &.active {
    rect {
      fill: white;
    }

    path:not(g path) {
      fill: black;
    }

    g path {
      fill: #ffa800;
    }
  }
}

.image-button-left {
  svg {
    path:not([fill="#FF3D00"]) {
      stroke: currentColor;
      stroke-width: 0.3px;
      paint-order: stroke;
    }

    &.active path:not([fill="white"]) {
      stroke: white;
    }
  }
}

.image-button-right {
  width: 119px;
  background: none;
  border: none;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-bottom: 4px solid #999;
  border-radius: 8px;
  padding: 0;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}

.image-button-right.active {
  svg rect {
    fill: #7ae229 !important;
  }

  svg path {
    fill: white !important;
  }
}

.image-button-left.active:hover {
  box-shadow: none;
}

.image-button-right.active:hover {
  box-shadow: none;
}

.image-button-middle:hover {
  box-shadow: none;
}

.content-bottom {
  width: 920px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20px;
  padding-top: 20px;
}

.create-task-button {
  height: 50px;
  width: 165px;
  border-radius: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.create-task-button svg {
  transform: translateX(-12px) translateY(-1px);
  height: 50px;
}

.create-task-button:hover svg rect {
  fill: #007cee;
  stroke: #007cee;
}

.cancel-button {
  height: 50px;
  width: 110px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: transparent;
}

.cancel-button svg {
  transform: translateX(-9px) translateY(-0px);
  height: 50px;
}

.cancel-button:hover svg text {
  fill: #007cee;
  stroke: none;
}

.cancel-button:hover svg rect,
.cancel-button:hover svg path,
.cancel-button:hover svg circle {
  stroke: #007cee;
}

.cancel-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}

.placeholder2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  padding: 8px;
  width: 360px;
  height: 100px;
  text-align: left;
  vertical-align: top;
  margin-bottom: 10px;
  border: 2px solid #b3b3b3;
}

.placeholder3 {
  background: url("/img/date-icon.svg") no-repeat right 10px center;
  background-size: 20px;
  padding-right: 35px;
  border: 2px solid #b3b3b3;
}

.input-wrapper {
  position: relative;
  display: inline-block;
}

.placeholder1,
.placeholder9 {
  border: 2px solid #b3b3b3;
}

.placeholder7,
.placeholder8 {
  padding-right: 40px;
  border: 2px solid #b3b3b3;
}

.icon-assign {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  background: url("/img/arrow-drop-down.svg") no-repeat center;
  background-size: 20px;
  cursor: pointer;
  transition: background-image 0.3s;
}

.icon-assign:hover {
  background-image: url("/img/arrow-drop-down-hover.svg");
}

.icon-category {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  background: url("/img/arrow-drop-down.svg") no-repeat center;
  background-size: 20px;
  cursor: pointer;
  transition: background-image 0.3s;
}

.icon-category:hover {
  background-image: url("/img/arrow-drop-down-hover.svg");
}

.icon-subtask {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  background: url("/img/Subtasks-icon.svg") no-repeat center;
  background-size: 20px;
  cursor: pointer;
  transition: background-image 0.3s;
}

.icon-subtask:hover {
  background-image: url("/img/Subtasks-icon-hover.svg");
}
